/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    --webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

ol, ul {
    list-style: none;
    padding-inline: 0;
}

/* Main Structure */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

    max-height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Sidebar Sub Structure */

.sidebar {
    display: grid;
    grid-template-rows: 60px 2fr 3fr;
    gap: 50px;
}

.sidebar a:hover {
    text-decoration: underline;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main-nav ul li {
    display: grid;
    grid-template-columns: 65px 1fr;
}

.other-nav ul li {
    display: grid;
    grid-template-columns: 65px 1fr;
}

/* Header Sub Structure */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.first-ribbon {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search-widget {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.user-widget {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.second-ribbon {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting-widget {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.larger-user-pfp {
    grid-row: 1 / 3;
}

.project-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Main Content Sub Structure */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trending-user {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.trending-user .user-pfp {
    grid-row: 1 / 3;
}

/* Sidebar Styling */

.sidebar {
    background-color: #0095ff;
    color: white;

    padding: 15px;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar ul li {
    margin: 10px;
    margin-bottom: 30px;
}

.logo-text {
    font-size: 2rem;
}

.logo-icon {
    margin-top: 2px;
}

.nav-icon {
    max-width: 30px;
    justify-self: center;
}

.main-nav a, .other-nav a {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Header Styling */

.header {
    background-color: white;
}

/* Main Content Styling */

.main-content {
    background-color: rgb(221, 221, 221);
    color: #16161a;
}

.card {
    background-color: white;
}

.announcements-box {
    background-color: white;
}

.trending-box {
    background-color: white;
}